.wager-button {
  /* Vars */
  --color-rock: var(--color-blue);
  --color-paper: var(--color-green);
  --color-scissors: var(--color-red);
  --bg-rock: var(--color-dark-blue);
  --bg-paper: var(--color-dark-green);
  --bg-scissors: var(--color-dark-red);
  --color-badge-border: var(--color-bright-blue);
  --color-badge-bg: var(--color-white);
  --color-badge-text: var(--color-black);
  --focus-border-width: 4px;
  --button-width: 10rem;
  --button-height: 7.5rem;
  --button-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: var(--button-width);
  height: var(--button-height);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: var(--button-radius);
  box-sizing: border-box;
}

.wager-button.rock {
  color: var(--color-rock);
  background-color: var(--bg-rock);
  border: 2px solid var(--color-rock);
}

.wager-button.paper {
  color: var(--color-paper);
  background-color: var(--bg-paper);
  border: 2px solid var(--color-paper);
}

.wager-button.scissors {
  color: var(--color-scissors);
  background-color: var(--bg-scissors);
  border: 2px solid var(--color-scissors);
}

.wager-button:focus {
  border-width: var(--focus-border-width);
}

.button-badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.button-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.25rem;
  border-radius: 100%;
  border: 4px solid var(--color-badge-border);
  background-color: var(--color-badge-bg);
  color: var(--color-badge-text);
  box-sizing: content-box;
}

.badge-content {
  font-size: 0.875rem;
  line-height: 0.75rem;
  text-align: center;
}

@container (width < 32.5rem) {
  .wager-button {
    width: 8rem;
    height: 6rem;
    font-size: 1.25rem;
  }

  .button-badge-container {
    height: 2.5rem;
  }

  .button-badge {
    min-width: 1.5rem;
    min-height: 1.5rem;
    padding: 0.125rem;
  }

  .badge-content {
    font-size: 0.75rem;
    line-height: 0.625rem;
  }
}

@container (width < 25rem) {
  .wager-button {
    width: 6rem;
    height: 4.5rem;
    font-size: 1rem;
  }

  .button-badge-container {
    height: 2rem;
  }

  .button-badge {
    min-width: 1rem;
    min-height: 1rem;
    padding: 0.125rem;
  }

  .badge-content {
    font-size: 0.625rem;
    line-height: 0.5rem;
  }
}