#root {
  --color-bg-start: #484848;
  --color-bg-end: #1D1D1D;

  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.game-main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--color-bg-start) 0%, var(--color-bg-end) 100%);

  container-type: inline-size;
}